{% extends 'index.html' %}
{% block content %}
<div class="container">
    <hr>
    <div class="center">KOMOREBI SALES CORPORATION</div>
    <p class="w-75 m-auto">
        Since our commencement in the year 2019, we, <strong> Komorebi Sales Corporation</strong>, are well-known in the industry for wholesaling, supplying and trading a comprehensive range of <strong>Electrical Control Panel accessories, Electrical Products, Packaging Solutions & Industrial fasteners.</strong> Owing to the abovementioned features, these products are widely demanded by customers across the nation.
        <br>
        <br>
        Supported by a team of diligent professionals, which holds extensive knowledge of this domain, we have been able to cater to the organizational targets in prominent manner. Our offered range is sourced from accredited vendors of the industry, who manufacture the same in adherence to the industry set guidelines to attain highest benchmarks of quality. Moreover, our vast distribution network enables us to dispatch the offered range in committed time-period.
        <br>
        <br>
        We have developed business tie ups with credible vendors of the industry, who have know-how of the market. Owing to our vast vendor-base, we have been able to provide Industrial Electrical & Control Panel Accessories. These vendors are selected on the basis of their vast industry experience, market reputation, quality of products and ability to meet the bulk demands. In order to ensure long-term relations with our vendors, we work in close coordination with them.
    </p>
</div>
<br>
<div class="container">
    <div class="card m-auto" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Contact Us</h5>
            <h6 class="card-subtitle mb-2 text-muted">Reach us at the links given below.</h6>
            <a href="mailto:komorebisalescorporation@gmail.com" class="card-link">Email</a>
            <a href="https://wa.me/919011052490" class="card-link">WhatsApp</a>
            <a href="tel:9011052490" class="card-link">Call Us</a>
        </div>
    </div>
</div>

{% endblock content %}